extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            ul
            p #{user.email}
            a(href="mailto:#{user.email}")= user.username
            p #{user.usermessage}
            p #{user.comment}
