body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #DAEBEE !important;
  @extend %flex;
  @include dimensions($width:100%);
}

a {
  color: #00B7FF;
}

thead {
  color: #00B7FF;
}

.flex-grid {
  display: flex;
}

/*transparent button below*/

$buttonColor: #DAEBEE;
$backgroundColor: #FF5126;

@mixin dimensions($width: null, $height: $width) { width: $width; height: $height; }
%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
/**, *:before, *:after { box-sizing: border-box; }*/

button[type="submit"] {
	@extend %flex;
	@include dimensions($width: 100px, $height: 50px);
	background: transparent;
	border-radius: 10px;
	will-change: transform;
	transition: all .3s ease;
	border: 2px solid $buttonColor;
	/*cursor: pointer;*/
	color: #ffffff;
	font-size: 16px;
	color: $buttonColor;
	outline: none;
	text-align: center;
}

	button[type="submit"]:hover {
		background: $buttonColor;
		color: #ffffff;
	}

  /*a.btn.btn-danger:hover {
    background: transparent;
		color: #ffffff;
    font-color: #000000;
  }*/
